<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/styles/result.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://kit.fontawesome.com/4ba6df63f3.js" crossorigin="anonymous"></script>    
<script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-2">
        <div class="row">
          <div class="col align-self-start">
        <a href="#"><i class="fa-solid fa-circle-arrow-left fa-2xl" id="back"></i></a>
          </div>
        </div>
    </div>
    <div class="p-3 float-right text-center">
      <div class="row">
        <div class="col float-right">
      <a id="download" href="#" onclick="createPDF()"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
      <h6 style="margin-top: 0.25em;">PDF olarak indir</h6>
        </div>
      </div>
  </div>
    <div class="container p-2 d-flex h-75" id="invoice">
        <div class="row p-2 float-left">
            <div class="col-2" id="tab">
            <h5>Sözcü:</h5>
    <table class="table table-hover table-dark">
        <thead>
            
      <th scope="col">Kategori</th>
      <th scope="col">Haber Sayısı</th>
        </thead>
        <tbody>
            {% for item in res1 %}
          <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="col-2" id="tab1">
        <h5>Hürriyet:</h5>
<table class="table table-hover table-dark">
    <thead>
        
  <th scope="col">Kategori</th>
  <th scope="col">Haber Sayısı</th>
    </thead>
    <tbody>
        {% for item in res2 %}
      <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div class="col-2" id="tab2">
    <h5>Milliyet:</h5>
<table id="tab" class="table table-hover table-dark">
<thead>
    
<th scope="col">Kategori</th>
<th scope="col">Haber Sayısı</th>
</thead>
<tbody>
    {% for item in res3 %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>


<div class="col-2" id="tab3">
    <h5>Habertürk:</h5>
<table class="table table-hover table-dark">
<thead>
    
<th scope="col">Kategori</th>
<th scope="col">Haber Sayısı</th>
</thead>
<tbody>
    {% for item in res4 %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

<div class="col-2" id="tab4">
    <h5>Posta:</h5>
<table class="table table-hover table-dark">
<thead>
    
<th scope="col">Kategori</th>
<th scope="col">Haber Sayısı</th>
</thead>
<tbody>
    {% for item in res5 %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

<div class="col-2" id="tab5">
    <h5>Webtekno:</h5>
<table class="table table-hover table-dark">
<thead>
    
<th scope="col">Kategori</th>
<th scope="col">Haber Sayısı</th>
</thead>
<tbody>
    {% for item in res6 %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

<div class="col" id="tab6">
    <h5>Genel:</h5>
<table class="table table-hover table-dark">
<thead>
    
<th scope="col">Haber Kaynağı</th>
<th scope="col">Toplam Haber Sayısı</th>
</thead>
<tbody>
    {% for item in res7 %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
<div id="editor"></div>
        </div>
    </div>
</body>
<script type="text/javascript">
    document.getElementById("back").onclick = function() {
      location.href = "/";
    };
    var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;
        var sTable1 = document.getElementById('tab1').innerHTML;
        var sTable2 = document.getElementById('tab2').innerHTML;
        var sTable3 = document.getElementById('tab3').innerHTML;
        var sTable4 = document.getElementById('tab4').innerHTML;
        var sTable5 = document.getElementById('tab5').innerHTML;
        var sTable6 = document.getElementById('tab6').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Rapor</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.write('<html><head>');
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable1);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.write('<html><head>');
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable2); 
        win.document.write('<br>');
        win.document.write('</body></html>');

        win.document.write('<html><head>');
        win.document.write('<title></title>'); 
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable3);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.write('<html><head>');
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable4);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.write('<html><head>');
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable5);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.write('<html><head>');
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable6);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
        }

  </script>
</html>
